---
Type: "Help"
itemName: "例：ふうまの盾"
itemData: "[
            [\"例：ふうまの盾\"],
        		[70, 82],[110, 118],
            [110, 118],[70, 82]
        		];"
---
<%= partial "sliderParts" %>
<%= partial "helpChartArea" %>

<div class="helpContainer">
  <h3>使い方</h3>
  <p>ダメージ欄に、ゲーム中の「くわしくみる」で出てきたダメージ量を入力してください。</p>
  <p>赤いゲージがダメージ量を表します。</p>
  <p>Tabキー、またはShiftキー＋矢印キーでカーソルが移動します。</p>
  <p>入力が終わったらエンターキーを押すと、自動で温度が50度下がります。</p>
  <p>赤いゲージの右上、右下にあるゲージが、今の温度でどんな打ち方をしたらどのくらいダメージゲージが
  伸びるかを表しています。詳しくは、それぞれのゲージにマウスカーソルを合わせてみてください。</p>
  <p>緑色のゲージが、成功ゾーンを表しています。</p>
  <p>また、オレンジ色のゾーンは、ダメージゲージがこのゾーンにある時に「叩く、狙い打ち」をすると
    成功ゾーンに入る可能性があるゾーンを表しています。</p>
  <p>特に、濃いオレンジ色のゾーンは、「叩く、狙い打ち」が必ず成功ゾーンに入る安全圏を表しています。
  しかし、温度が高い時や成功ゾーンが狭い時などには存在しないことがあります。</p>
  <p>「火力上げ」、「冷やしこみ」、「熱風おろし」を使って温度が変化した時は、上の方にあるスライダーを
  操作して温度の調整をしてください。スライダーは50度から2000度まで変化します。</p>
  <p>フォームをリセットしたい時は、右上にあるリセットボタンを押してください。</p>
  <p>現在のところ、叩き変化には対応していません。ご了承下さい。</p>
</div>

<!--
 <div>
  <h3>キー操作</h3>
  <dl>
    <dt>shift + ↑</dt>
    <dd>カーソルを上に移動</dd>
    <dt>shift + ↓</dt>
    <dd>カーソルを下に移動</dd>
    <dt>shift + →</dt>
    <dd>カーソルを右に移動</dd>
    <dt>shift + ←</dt>
    <dd>カーソルを左に移動</dd>
    <dt>enter</dt>
    <dd>温度を50度下げる</dd>
  </dl>
</div>
<div>
  <p>
    ゲーム中の『くわしくみる』で出てきた数字を、ダメージ欄に入力してください。
    今回は試しに60と入力して、エンターキーを押してみましょう。
    そうすると、そのダメージが赤いゲージになって伸びます。
    そして、上と下のゲージが連動して移動し、温度が50度下がります。
  </p>
  <p>
    上と下にある各ゲージの意味は、今のダメージ量と温度から、次にどんな打ち方をしたらどの辺りまでダメージゲージが
    伸びるかを表しています。
    真ん中の緑色のゲージは、成功ゾーンを指します。
    詳しくは、各ゲージにマウスを乗せてみてください。説明が現れます。
  </p>
  <p>
    背景のオレンジ色は、どのあたりにダメージゲージを持ってきたらいいのかの目安を表しています。
    一番薄いオレンジ色が、成功ゾーンを指します。
    次に薄いオレンジ色は、ダメージゲージがこのゾーンにあるときに『叩く、狙い打ち』をしたら
    成功ゾーンに入る可能性のあるゾーンを指します。
    一番濃いオレンジ色は、ダメージゲージがこのゾーンにあるときに『叩く、狙い打ち』をしたら
    成功ゾーンに絶対に入る安全圏ゾーンを指します。温度もしくは装備によってはこのゾーンは存在しないことがあります。
  </p>
  <p>
    ページの一番上にある温度は、隣のスライドバーによって調節できます。
    スライドバーを右に動かすと温度が上がり、左に動かすと温度が下がります。
    それに連動して、グラフのダメージに関係するゾーンが変化します。
    下は50度、上は2000度まで動かせます。
    ゲーム中で2000度以上にした場合は2000度に合わせてください。2000度以上のダメージは一定です。
  </p>
  <p>
    現在、ダメージが60で、温度が950度だとします。そこから、各ゲージを見てみましょう。
  </p>
  <p>
    まず、『3倍打ち』『2倍打ち、超4連打ち』『熱風おろし』を見てみると、完全に成功ゾーンよりも
    奥に伸びていて、これで打つと成功ゾーンからはみ出してしまうことがわかります。
  </p>
  <p>
    次に、紫色の『手加減打ち』ですが、これだと成功ゾーンに届かないことがわかります。
  </p>
  <p>
    そして、成功ゾーンに収まる打ち方は、『叩く、狙い打ち』『乱れ打ち』『上下打ち、4連打ち、ななめ打ち』
    であることが見て取れます。
  </p>
  <p>
    特に現在の赤いダメージゲージは、一番濃いオレンジ色のゾーンにあることが見て取れます。
    ここから叩く、狙い打ちをすると、絶対に成功ゾーンに収まるという意味です。
  </p>
  <p>
    これらのゲージを目安にして、ダメージゲージをなるべく一番濃いオレンジ色に寄せて、
    そこから叩く、狙い打ちをして成功ゾーンにダメージゲージを収めるようにしていきましょう。
  </p>
  <p>
    最後に、同じアイテムを連続して作る時、リセットするためにはブラウザのリロードボタンを押してください。
  </p>
  <p>
    ちなみにこのツールはあくまでどのくらいの力で叩いたらいいかを考える目安であり、
    大成功を保証するものではありません。ご了承ください。
  </p>
-->

</div>
