---
Type: "Help"
itemName: "例"
itemData: "[
            [\"例\"],
        		[70, 82]
        		];"
---
<%= partial "sliderParts" %>
<%= partial "helpChartArea" %>
<div>
  <p>
    ゲーム中の『くわしくみる』で出てきた数字を、ダメージ欄に入力してください。
    今回は試しに60と入力してみましょう。
    そうすると、そのダメージが赤いゲージになって伸びます。
    そして、上と下のゲージが連動して移動します。
  </p>
  <p>
    上と下にある各ゲージの意味は、今のダメージ量と温度から、次にどんな打ち方をしたらどの辺りまでダメージゲージが
    伸びるかを表しています。
    真ん中の緑色のゲージは、成功ゾーンを指します。
    詳しくは、各ゲージにマウスを乗せてみてください。説明が現れます。
  </p>
  <p>
    背景のオレンジ色は、どのあたりにダメージゲージを持ってきたらいいのかの目安を表しています。
    一番薄いオレンジ色が、成功ゾーンを指します。
    次に薄いオレンジ色は、ダメージゲージがこのゾーンにあるときに『叩く、狙い打ち』をしたら
    成功ゾーンに入る可能性のあるゾーンを指します。
    一番濃いオレンジ色は、ダメージゲージがこのゾーンにあるときに『叩く、狙い打ち』をしたら
    成功ゾーンに絶対に入る安全圏ゾーンを指します。温度もしくは装備によってはこのゾーンは存在しないことがあります。
  </p>
  <p>
    ページの一番上にある温度は、隣のスライドバーによって調節できます。
    スライドバーを右に動かすと温度が上がり、左に動かすと温度が下がります。
    それに連動して、グラフのダメージに関係するゾーンが変化します。
    下は50度、上は2000度まで動かせます。
    ゲーム中で2000度以上にした場合は2000度に合わせてください。2000度以上のダメージは一定です。
  </p>
  <p>
    現在、ダメージが60で、温度が1000度だとします。そこから、各ゲージを見てみましょう。
  </p>
  <p>
    まず、『3倍打ち』『2倍打ち、超4連打ち』『熱風おろし』を見てみると、完全に成功ゾーンよりも
    奥に伸びていて、これで打つと成功ゾーンからはみ出してしまうことがわかります。
  </p>
  <p>
    次に、紫色の『手加減打ち』ですが、これだと成功ゾーンに届かないことがわかります。
  </p>
  <p>
    そして、成功ゾーンに収まる打ち方は、『叩く、狙い打ち』『乱れ打ち』『上下打ち、4連打ち、ななめ打ち』
    であることが見て取れます。
  </p>
  <p>
    特に現在の赤いダメージゲージは、一番濃いオレンジ色のゾーンにあることが見て取れます。
    ここから叩く、狙い打ちをすると、絶対に成功ゾーンに収まるという意味です。
  </p>
  <p>
    これらのゲージを目安にして、ダメージゲージをなるべく一番濃いオレンジ色に寄せて、
    そこから叩く、狙い打ちをして成功ゾーンにダメージゲージを収めるようにしていきましょう。
  </p>
  <p>
    最後に、同じアイテムを連続して作る時、リセットするためにはブラウザのリロードボタンを押してください。
  </p>
  <p>
    ちなみにこのツールはあくまでどのくらいの力で叩いたらいいかを考える目安であり、
    大成功を保証するものではありません。ご了承ください。
  </p>

</div>
