body{
  width: 1200px;
}
h1 a {
  color: #000;
  text-decoration: none;
}

div.formContainer{
  width: 100px;
  height: 150px;
  float: left;
  background: #EFEFEF;
}

form{
  position: relative;
  top: 30%;
}

input{
  margin-left: 7px;
  width: 80px;
  font-size: xx-large;
}

label{
  margin-left: 15px;
}

div#sliderParts{
  width: 1200px;
  height: 60px;
  padding: 4px;
}

form#sliderForm{
  float: left;
  position: static;
  display: block;
}

div#slider{
  margin-left: 150px;
  margin-top: 15px;

}

div.chartContainer{
  width: 450px;
  height: 150px;
  margin-left: 100px;
}

footer{
  clear: left;
}
#helpLink{
  width: 10em;
  float: right;
}
