<div class="blockArea">
  <div class="formContainer">
    <form>
      <label>ダメージ</label>
      <input type="text" name="damageA" id="damageA" size="3" value="0">
    </form>
  </div>
  <div id="chartContainerA" class="chartContainer"></div>
</div>
<div class="blockArea">
  <div class="formContainer">
    <form>
      <label>ダメージ</label>
      <input type="text" name="damageB" id="damageB" size="3" value="0">
    </form>
  </div>
  <div id="chartContainerB" class="chartContainer"></div>
</div>
<div class="blockArea">
  <div class="formContainer">
    <form>
      <label>ダメージ</label>
      <input type="text" name="damageC" id="damageC" size="3" value="0">
    </form>
  </div>
  <div id="chartContainerC" class="chartContainer"></div>
</div>
<div class="blockArea">
  <div class="formContainer">
    <form>
      <label>ダメージ</label>
      <input type="text" name="damageD" id="damageD" size="3" value="0">
    </form>
  </div>
  <div id="chartContainerD" class="chartContainer"></div>
</div>
