<div id="sliderParts">
	<form id="sliderForm">
		<label>温度</label><input id="temperature" type="text" size="4" readonly />
	</form>
	<div id="slider" style="width:300px;"></div>
	<form id="resetForm">
		<input type="button" value="リセット" onclick="location.reload();" />
	</form>
</div>
