---
Type: "Index"
---

<h2>道具職人</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>素材</h3>
    <ul class="listContainer">
      <li><a href="material/nijiironoo-bu.html">虹色のオーブ</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル85以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>クロッシュウェアセット</h3>
    <ul class="listContainer">
      <li><a href="met/kurossyumetto.html">クロッシュメット</a></li>
      <li><a href="tops/kurossyuweaue.html">クロッシュウェア上</a></li>
      <li><a href="bottoms/kurossyuweasita.html">クロッシュウェア下</a></li>
      <li><a href="arm/kurossyuguro-bu.html">クロッシュグローブ</a></li>
      <li><a href="foot/kurossyusyu-zu.html">クロッシュシューズ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>天宮騎士のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/tenkyuukishinokabuto.html">天宮騎士のかぶと</a></li>
      <li><a href="tops/tenkyuukishinoyoroiue.html">天宮騎士のよろい上</a></li>
      <li><a href="bottoms/tenkyuukishinoyoroisita.html">天宮騎士のよろい下</a></li>
      <li><a href="arm/tenkyuukishinokote.html">天宮騎士のこて</a></li>
      <li><a href="foot/tenkyuukishinoguri-bu.html">天宮騎士のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/seisinnnotate.html">星辰の盾</a></li>
      <li><a href="shield/enteinoootate.html">炎帝の大盾</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル80以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>ヴァイパーコートセット</h3>
    <ul class="listContainer">
      <li><a href="met/vaipa-hatto.html">ヴァイパーハット</a></li>
      <li><a href="tops/vaipa-ko-to.html">ヴァイパーコート</a></li>
      <li><a href="arm/vaipa-guro-bu.html">ヴァイパーグローブ</a></li>
      <li><a href="foot/vaipa-bu-tu.html">ヴァイパーブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>凱歌のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/gaikanoherumu.html">凱歌のヘルム</a></li>
      <li><a href="tops/gaikanoyoroiue.html">凱歌のよろい上</a></li>
      <li><a href="bottoms/gaikanoyoroisita.html">凱歌のよろい下</a></li>
      <li><a href="arm/gaikanogantoretto.html">凱歌のガントレット</a></li>
      <li><a href="foot/gaikanoguri-bu.html">凱歌のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>騎神のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/kisinnnokabuto.html">騎神のかぶと</a></li>
      <li><a href="tops/kisinnnoyoroi.html">騎神のよろい</a></li>
      <li><a href="arm/kisinnnogantoretto.html">騎神のガントレット</a></li>
      <li><a href="foot/kisinnnoguri-bu.html">騎神のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>魔技師ベストセット</h3>
    <ul class="listContainer">
      <li><a href="met/magisimetto.html">魔技師メット</a></li>
      <li><a href="tops/magisibesuto.html">魔技師ベスト</a></li>
      <li><a href="bottoms/magisizubonn.html">魔技師ズボン</a></li>
      <li><a href="arm/magisiguro-bu.html">魔技師グローブ</a></li>
      <li><a href="foot/magisibu-tu.html">魔技師ブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/seijonotate.html">聖女の盾</a></li>
      <li><a href="shield/urubeanoootate.html">ウルベアの大盾</a></li>
      <li><a href="shield/zeresutaitonoootate.html">ゼレスタイトの大盾</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル75以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>クリムゾンメイルセット</h3>
    <ul class="listContainer">
      <li><a href="met/kurimuzonherumu.html">クリムゾンヘルム</a></li>
      <li><a href="tops/kurimuzonmeiruue.html">クリムゾンメイル上</a></li>
      <li><a href="bottoms/kurimuzonmeirusita.html">クリムゾンメイル下</a></li>
      <li><a href="arm/kurimuzonguro-bu.html">クリムゾングローブ</a></li>
      <li><a href="foot/kurimuzonguri-bu.html">クリムゾングリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>メカニックスーツセット</h3>
    <ul class="listContainer">
      <li><a href="met/mekanikkufu-do.html">メカニックフード</a></li>
      <li><a href="tops/mekanikkusu-tuue.html">メカニックスーツ上</a></li>
      <li><a href="bottoms/mekanikkusu-tusita.html">メカニックスーツ下</a></li>
      <li><a href="arm/mekanikkuhando.html">メカニックハンド</a></li>
      <li><a href="foot/mekanikkubu-tu.html">メカニックブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>王軍師のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/ougunshinokabuto.html">王軍師のかぶと</a></li>
      <li><a href="tops/ougunshinoyoroi.html">王軍師のよろい</a></li>
      <li><a href="arm/ougunshinoguro-bu.html">王軍師のグローブ</a></li>
      <li><a href="foot/ougunshinoguri-bu.html">王軍師のグリーブ</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル70以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>グレートマントセット</h3>
    <ul class="listContainer">
      <li><a href="met/gure-toherumu.html">グレートヘルム</a></li>
      <li><a href="tops/gure-tomanto.html">グレートマント</a></li>
      <li><a href="arm/gure-togurabu.html">グレートグラブ</a></li>
      <li><a href="foot/gure-toguri-bu.html">グレートグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>さすらいのコートセット</h3>
    <ul class="listContainer">
      <li><a href="met/sasurainobousi.html">さすらいのぼうし</a></li>
      <li><a href="tops/sasurainoko-toue.html">さすらいのコート上</a></li>
      <li><a href="bottoms/sasurainoko-tosita.html">さすらいのコート下</a></li>
      <li><a href="arm/sasurainokote.html">さすらいのこて</a></li>
      <li><a href="foot/sasurainokutu.html">さすらいのくつ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>神兵のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/sinpeinoherumu.html">神兵のヘルム</a></li>
      <li><a href="tops/sinpeinoyoroiue.html">神兵のよろい上</a></li>
      <li><a href="bottoms/sinpeinoyoroisita.html">神兵のよろい下</a></li>
      <li><a href="arm/sinpeinogantoretto.html">神兵のガントレット</a></li>
      <li><a href="foot/sinpeinoguri-bu.html">神兵のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/seiounotate.html">聖王の盾</a></li>
      <li><a href="shield/seiounoootate.html">聖王の大盾</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル65以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>マスカレイドスーツセット</h3>
    <ul class="listContainer">
      <li><a href="met/masukareidoherumu.html">マスカレイドヘルム</a></li>
      <li><a href="tops/masukareidosu-tu.html">マスカレイドスーツ</a></li>
      <li><a href="arm/masukareidogurabu.html">マスカレイドグラブ</a></li>
      <li><a href="foot/masukareidobu-tu.html">マスカレイドブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>聖騎士のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/seikishinoherumu.html">聖騎士のヘルム</a></li>
      <li><a href="tops/seikishinoyoroiue.html">聖騎士のよろい上</a></li>
      <li><a href="bottoms/seikishinoyoroisita.html">聖騎士のよろい下</a></li>
      <li><a href="arm/seikishinokote.html">聖騎士のこて</a></li>
      <li><a href="foot/seikishinoguri-bu.html">聖騎士のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>飛竜のベストセット</h3>
    <ul class="listContainer">
      <li><a href="met/hiryuunokabuto.html">飛竜のかぶと</a></li>
      <li><a href="tops/hiryuunobesuto.html">飛竜のベスト</a></li>
      <li><a href="bottoms/hiryuunozubonn.html">飛竜のズボン</a></li>
      <li><a href="arm/hiryuunoguro-bu.html">飛竜のグローブ</a></li>
      <li><a href="foot/hiryuunobu-tu.html">飛竜のブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/jagannnoootate.html">邪眼の大盾</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル60以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>ゴシックコートセット</h3>
    <ul class="listContainer">
      <li><a href="met/gosikkumitora.html">ゴシックミトラ</a></li>
      <li><a href="tops/gosikkuko-toue.html">ゴシックコート上</a></li>
      <li><a href="bottoms/gosikkuko-tosita.html">ゴシックコート下</a></li>
      <li><a href="arm/gosikkuguro-bu.html">ゴシックグローブ</a></li>
      <li><a href="foot/gosikkubu-tu.html">ゴシックブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>ゴシックビスチェセット</h3>
    <ul class="listContainer">
      <li><a href="met/gosikkuhatto.html">ゴシックハット</a></li>
      <li><a href="tops/gosikkubisutye.html">ゴシックビスチェ</a></li>
      <li><a href="bottoms/gosikkufuriru.html">ゴシックフリル</a></li>
      <li><a href="arm/gosikkua-mu.html">ゴシックアーム</a></li>
      <li><a href="foot/gosikkuni-so.html">ゴシックニーソ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>スパイクアーマーセット</h3>
    <ul class="listContainer">
      <li><a href="met/supaikubaiza-.html">スパイクバイザー</a></li>
      <li><a href="tops/supaikua-ma-ue.html">スパイクアーマー上</a></li>
      <li><a href="bottoms/supaikua-ma-sita.html">スパイクアーマー下</a></li>
      <li><a href="arm/supaikuguro-bu.html">スパイクグローブ</a></li>
      <li><a href="foot/supaikubu-tu.html">スパイクブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>ノーブルコートセット</h3>
    <ul class="listContainer">
      <li><a href="met/no-buruhatto.html">ノーブルハット</a></li>
      <li><a href="tops/no-buruko-toue.html">ノーブルコート上</a></li>
      <li><a href="bottoms/no-buruko-tosita.html">ノーブルコート下</a></li>
      <li><a href="arm/no-buruguro-bu.html">ノーブルグローブ</a></li>
      <li><a href="foot/no-burubu-tu.html">ノーブルブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>ワイルドジャケットセット</h3>
    <ul class="listContainer">
      <li><a href="met/wairudobere-.html">ワイルドベレー</a></li>
      <li><a href="tops/wairudojaketto.html">ワイルドジャケット</a></li>
      <li><a href="bottoms/wairudobotomu.html">ワイルドボトム</a></li>
      <li><a href="arm/wairudobanguru.html">ワイルドバングル</a></li>
      <li><a href="foot/wairudosyu-zu.html">ワイルドシューズ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>師団長のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/shidantyounokabuto.html">師団長のかぶと</a></li>
      <li><a href="tops/shidantyounoyoroiue.html">師団長のよろい上</a></li>
      <li><a href="bottoms/shidantyounoyoroisita.html">師団長のよろい下</a></li>
      <li><a href="arm/shidantyounokote.html">師団長のこて</a></li>
      <li><a href="foot/shidantyounoguri-bu.html">師団長のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>僧兵のころもセット</h3>
    <ul class="listContainer">
      <li><a href="met/souheinosa-kuretto.html">僧兵のサークレット</a></li>
      <li><a href="tops/souheinokoromoue.html">僧兵のころも上</a></li>
      <li><a href="bottoms/souheinokoromosita.html">僧兵のころも下</a></li>
      <li><a href="arm/souheinoguro-bu.html">僧兵のグローブ</a></li>
      <li><a href="foot/souheinokutu.html">僧兵のくつ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/metasuranotate.html">メタスラの盾</a></li>
      <li><a href="shield/seikishinoootate.html">聖騎士の大盾</a></li>
      <li><a href="shield/o-gasi-rudo.html">オーガシールド</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル50以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>バトルドレスセット</h3>
    <ul class="listContainer">
      <li><a href="met/batoruthiara.html">バトルティアラ</a></li>
      <li><a href="tops/batorudoresuue.html">バトルドレス上</a></li>
      <li><a href="bottoms/batorudoresusita.html">バトルドレス下</a></li>
      <li><a href="arm/batorugantoretto.html">バトルガントレット</a></li>
      <li><a href="foot/batoruguri-bu.html">バトルグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>ファントムマントセット</h3>
    <ul class="listContainer">
      <li><a href="met/fantomukati-fu.html">ファントムカチーフ</a></li>
      <li><a href="tops/fantomumanto.html">ファントムマント</a></li>
      <li><a href="arm/fantomua-mu.html">ファントムアーム</a></li>
      <li><a href="foot/fantomubu-tu.html">ファントムブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>ヘヴィーアーマーセット</h3>
    <ul class="listContainer">
      <li><a href="met/hevi-herumu.html">ヘヴィーヘルム</a></li>
      <li><a href="tops/hevi-a-ma-ue.html">ヘヴィーアーマー上</a></li>
      <li><a href="bottoms/hevi-a-ma-sita.html">ヘヴィーアーマー下</a></li>
      <li><a href="arm/hevi-guro-bu.html">ヘヴィーグローブ</a></li>
      <li><a href="foot/hevi-guri-bu.html">ヘヴィーグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>やいばのよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/yaibanohatigane.html">やいばのはちがね</a></li>
      <li><a href="tops/yaibanoyoroiue.html">やいばのよろい上</a></li>
      <li><a href="bottoms/yaibanoyoroisita.html">やいばのよろい下</a></li>
      <li><a href="arm/yaibanokote.html">やいばのこて</a></li>
      <li><a href="foot/yaibanoguri-bu.html">やいばのグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>古強者のよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/furutuwamononokabuto.html">古強者のかぶと</a></li>
      <li><a href="tops/furutuwamononoyoroiue.html">古強者のよろい上</a></li>
      <li><a href="bottoms/furutuwamononoyoroisita.html">古強者のよろい下</a></li>
      <li><a href="arm/furutuwamononokote.html">古強者のこて</a></li>
      <li><a href="foot/furutuwamononoguri-bu.html">古強者のグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/mikagaminotate.html">みかがみの盾</a></li>
      <li><a href="shield/ru-nnbakkura-.html">ルーンバックラー</a></li>
      <li><a href="shield/oyabunnnoootate.html">おやぶんの大盾</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル42以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>くろがねのよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/kuroganenohatigane.html">くろがねのはちがね</a></li>
      <li><a href="tops/kuroganenoyoroiue.html">くろがねのよろい上</a></li>
      <li><a href="bottoms/kuroganenoyoroisita.html">くろがねのよろい下</a></li>
      <li><a href="arm/kuroganenokote.html">くろがねのこて</a></li>
      <li><a href="foot/kuroganenobu-tu.html">くろがねのブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>げんぶの道着セット</h3>
    <ul class="listContainer">
      <li><a href="met/genbunokabuto.html">げんぶのかぶと</a></li>
      <li><a href="tops/genbunodougiue.html">げんぶの道着上</a></li>
      <li><a href="bottoms/genbunodougisita.html">げんぶの道着下</a></li>
      <li><a href="arm/genbunowantai.html">げんぶの腕帯</a></li>
      <li><a href="foot/genbunokutu.html">げんぶのくつ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>プラチナメイルセット</h3>
    <ul class="listContainer">
      <li><a href="met/puratinaherumu.html">プラチナヘルム</a></li>
      <li><a href="tops/puratinameiruue.html">プラチナメイル上</a></li>
      <li><a href="bottoms/puratinameirusita.html">プラチナメイル下</a></li>
      <li><a href="arm/puratinanokote.html">プラチナのこて</a></li>
      <li><a href="foot/puratinaguri-bu.html">プラチナグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/puratinatorei.html">プラチナトレイ</a></li>
      <li><a href="shield/onigumonotate.html">オニグモの盾</a></li>
      <li><a href="shield/rufunotate.html">ルフの盾</a></li>
      <li><a href="shield/puratinasi-rudo.html">プラチナシールド</a></li>
      <li><a href="shield/doragonsi-rudo.html">ドラゴンシールド</a></li>
    </ul>
  </div>
</div>

<h2>装備可能レベル35以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>バンデッドチェインセット</h3>
    <ul class="listContainer">
      <li><a href="met/bandeddobando.html">バンデッドバンド</a></li>
      <li><a href="tops/bandeddotyeinn.html">バンデッドチェイン</a></li>
      <li><a href="bottoms/bandeddobotomu.html">バンデッドボトム</a></li>
      <li><a href="arm/bandeddoguro-bu.html">バンデッドグローブ</a></li>
      <li><a href="foot/bandeddobu-tu.html">バンデッドブーツ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>まほうのよろいセット</h3>
    <ul class="listContainer">
      <li><a href="met/mahousa-kuretto.html">まほうサークレット</a></li>
      <li><a href="tops/mahounoyoroiue.html">まほうのよろい上</a></li>
      <li><a href="bottoms/mahounoyoroisita.html">まほうのよろい下</a></li>
      <li><a href="arm/mahounokote.html">まほうのこて</a></li>
      <li><a href="foot/mahounoguri-bu.html">まほうのグリーブ</a></li>
    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li><a href="shield/mahounotate.html">まほうの盾</a></li>
      <li><a href="shield/kaitobakkura-.html">カイトバックラー</a></li>
      <li><a href="shield/fuumanotate.html">ふうまの盾</a></li>
      <li><a href="shield/senshinoootate.html">戦士の大盾</a></li>
    </ul>
  </div>
</div>

<!-- <h2>装備可能レベル28以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>はがねのよろいセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li>ホワイトバックラー</li>
      <li>はがねの大盾</li>
      <li>スライムベストレイ</li>
    </ul>
  </div>
</div> -->

<!-- <h2>装備可能レベル21以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>ぎんのむねあてセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>てつのよろいセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>新兵支給むねあてセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li>シルバートレイ</li>
      <li>こぞうバックラー</li>
    </ul>
  </div>
</div> -->

<!-- <h2>装備可能レベル14以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>くさりかたびらセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>てつのむねあてセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li>ライトバックラー</li>
      <li>てつの大盾</li>
      <li>スライムトレイ</li>
    </ul>
  </div>
</div> -->

<!-- <h2>装備可能レベル7以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>うろこのよろいセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>せいどうのよろいセット</h3>
    <ul class="listContainer">

    </ul>
  </div>
  <div class="setContainer">
    <h3>盾</h3>
    <ul class="listContainer">
      <li>せいどうの盾</li>
    </ul>
  </div>
</div> -->

<!-- <h2>装備可能レベル1以上</h2>
<div class="levelContainer">
  <div class="setContainer">
    <h3>イベント装備</h3>
    <ul class="listContainer">
      <li>晴天の装束</li>
      <li>星々の装束</li>
    </ul>
  </div>
</div> -->
